ADP_USERNAME=your-username@example.com
ADP_PASSWORD=your-password
PUNCH_IN_TIME=0 5 10 * * 1-5
PUNCH_OUT_TIME=0 58 23 * * 1-5
GOOGLE_DRIVE_FOLDER_ID=your-folder-id
# Base64 encoded Google credentials (for Netlify)
GOOGLE_CREDENTIALS_BASE64=base64-encoded-credentials-json
