# Dependencies
node_modules
npm-debug.log

# Netlify
.netlify

# Environment variables
.env
.env.local

# Build files
# Commenting out build and dist to ensure they're committed if needed
# build
# dist

# Misc
.DS_Store
.idea
.vscode
